@charset "UTF-8";
.find-wsd-con {
  margin: 60px 0 50px 0;
}

.find-pd {
  padding: 30px 50px;
  .title-ws {
    height: 30px;
    border-bottom: 1px solid #e5e5e5;
    .title-text {
      color: #302f2b;
      font-size: 18px;
    }
  }
}

.stepflex {
  border-top: 4px solid #ccc;
  text-align: center;
  margin: 30px auto;
  width: 808px;
}

.stepflex dl {
  float: left;
  position: relative;
  width: 202px;
  top: -4px;
  border-top: 4px solid #ccc;
}

dl.doing {
  border-top-color: #fcae26;
}

.s-num {
  position: relative;
  margin: -15px auto 0;
  color: #fff;
  font-weight: 700;
  width: 24px;
  height: 24px;
  background: url(../images/step_find_03.png) no-repeat -999px -999px;
  line-height: 24px;
}

.doing .s-num {
  background-position: -25px 0;
}

.normal.doing .s-num {
  background-position: -25px 0;
}

.doing b, .doing s, .first s, .last b {
  width: 4px;
  height: 4px;
  position: absolute;
  line-height: 0;
  font-size: 0;
  top: -4px;
  background: url(../images/ste-img1.png) no-repeat -999px -999px;
  overflow: hidden;
}

.first s {
  background-position: 0px -7px;
  background-color: #fff;
}

.last b {
  background-position: -6px 0px;
  background-color: #fff;
}

.doing b {
  background-position: -6px -7px;
}

.stepflex b {
  right: 0;
}

.stepflex {
  text-align: center;
}

dt {
  text-align: center;
}

.stepflex s {
  left: 0;
}

.doing.last .s-num {
  background-position: -80px 0;
}

.last .s-num {
  background-position: -52px 0;
}

.normal .s-num {
  background-position: 2px 0;
}

.doing.last s, .doing.normal s {
  background-color: #fcae26;
}

.s-text {
  color: #ccc;
  font-size: 14px;
  line-height: 24px;
}

.doing .s-text {
  color: #fcae26;
}

.selct-con {
  text-align: center;
}

.btn-sel {
  .text-c {
    display: inline-block;
    width: 387px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #fcae26;
    background: #fff;
    text-align: center;
    line-height: 40px;
    color: #5e5e5e;
    font-size: 14px;
    .icon {
      padding-right: 5px;
      color: #a0a0a0;
      font-size: 18px;
    }
  }
}

.btn-sel .text-c:hover {
  background: #fcae26;
  color: #fff;
  cursor: pointer;
}

.btn-sel .text-c:hover > .icon {
  color: #fff;
}

.btn-sel {
  margin-bottom: 50px
}

.mn-monn {
  margin-top: 80px;
}

.yanzh {
  width: 420px;
  margin: 0px auto;
  .reg-third {
    text-align: center;
    margin-top: 50px;
  }
  .text-sec {
    text-align: center;
    font-size: 24px;
    color: #363636;
    line-height: 61px;
    margin-top: 23px;
  }
  .text-dengji {
    text-align: center;
    color: #363636;
    font-size: 14px;
  }
  > div {
    margin: 10px 0 30px;
  }
  .yzh-tel {
    span {
      color: #302f2b;
      font-size: 14px;
    }
    .tel-num {
      margin-left: 15px;
      color: #ff9933;
      font-size: 14px;
    }
  }
  .yz-input-item {
    position: relative;
    width: 370px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e5e5e5;
    padding-left: 8px;
    color: #a0a0a0;
    outline: none;
  }
  .input-t {
    position: relative;
    .poin-text {
      position: absolute;
      width: 120px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: #eeeeee;
      color: #5e5e5e;
      top: 1px;
      right: 41px;
    }
  }
  .yuyin-text {
    color: #a0a0a0;
    font-size: 14px;
    line-height: 30px;
    i {
      color: #ff9933;
    }
  }
  .btn-y {
    margin-top: 30px;
    .btn-y-item {
      width: 380px;
      height: 40px;
      display: inline-block;
      line-height: 40px;
      background: #fcae26;
      text-align: center;
      color: #fff;
      font-size: 16px;
      border-radius: 2px;
    }
  }
  .img-strong {
    i {
      display: inline-block;
      background: url("../images/dengji-str.png") no-repeat;
      width: 380px;
      height: 22px;
    }
    i.img-item-s {
      background-position: 0px -35px;
    }
    i.img-item-s1 {
      background-position: 0px -69px;
    }
  }
}


.yanzh .labelText {
  border: 1px solid #e5e5e5;
  margin-right: 4px;
  border-radius: 2px;
  width: 380px;
  position: relative;
}
.yanzh .reg-icon {
  display: inline-block;
  width: 48px;
  /* margin-right: -4px; */
  padding-top: 2px;
  color: #a0a0a0;
  font-size: 21px;
  border-right: 1px solid #e5e5e5;
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
}
.yanzh input.txt-area {
  width: 270px;
  height: 16px;
  padding: 11px 20px;
  border: 0px;
  overflow: visible;
  font-size: 14px;
  vertical-align: middle;
  color: #999;
  outline: none;
  /* border-left: 1px solid #e5e5e5; */
}

/*提示代码*/
.po_pro_p{ position: relative;}
.tishi_new{  position: absolute;  top: 40px;}
.tishi_new img{ vertical-align: middle;}
.tishi_new span.txt{color: #fe4850; font-size: 14px; margin-left: 5px; line-height: 25px;   }
.tishi_new_1 span.txt{color: #fe4850; font-size: 14px; margin-left: 5px; line-height: 25px;}
