@import "compass";
@import "components/buttons";
@import "utils/variables";
@import "compass/css3/border-radius";



.topbar{
  width: $con-width;
  margin: 0 auto;
}
.header{
  background: $top-dcolor;
  height: 40px;
}
.tel-img{
  background: sprite($base,icon_03);
  @include sprite-background-position($base,icon_03);
  @include  sprite-dimensions($base,icon_03);
  display: inline-block;
}
.left-bar{
  line-height: 40px;float: left;
}
.left-bar i{ @extend %top-style;margin-left: 5px; }
.ge-line{
  display: inline-block;
   background: sprite($base,sh-line);
  @include sprite-background-position($base,sh-line);
  @include  sprite-dimensions($base,sh-line);
}
.ft-left{
  float: left;
}
.mn-left{ margin-left: 10px;}
.left-fnt{
  @extend %top-style;
  float: left;
  line-height: 40px;
  margin-left: 13px;
  cursor: pointer;
}
.qq {
  float: left;
  position: relative;
  margin-left: 13px;
  padding-top: 12px;
}
.top_com {
  display: inline-block;

}
.top03{
  background:sprite($base, qq);
  @include sprite-background-position($base,qq);
  @include  sprite-dimensions($base,qq);
}
.top02{
  position: relative;
  background:sprite($base, weixin);
  @include sprite-background-position($base,weixin);
  @include  sprite-dimensions($base,weixin);
}
.top01{
  position: relative;
   background:sprite($base,weibo);
  @include sprite-background-position($base,weibo);
  @include  sprite-dimensions($base,weibo);
  position: relative;
}
.qq01 .weibo-img{
  padding: 15px 15px 8px;
  display: inline-block;
  text-align: center;
}
.qq01 .pd-img-w1{
  padding: 15px 10px 0px;
}
.top03:hover{
  @include sprite-background-position($base,qq_hover);
 }

.top02:hover{
  @include sprite-background-position($base,weixin_hover);
}
.top01:hover{
  @include sprite-background-position($base,weibo_hover);
}
.app-lay{
  position: relative;
  float: left;
  background:sprite($base, APPimage);
  @include sprite-background-position($base,APPimage);
  @include  sprite-dimensions($base,APPimage);
 margin: 7px 15px 0 15px;
 }
.app-lay:hover{
  @include sprite-background-position($base,APPimage-hover);
  cursor: pointer;
}

/*右边*/
.right-bar{ float: right; height: 40px;}
.login-ig01{
  display: inline-block;
  background:sprite($base, icon_07);
  @include sprite-background-position($base,icon_07);
  @include  sprite-dimensions($base,icon_07);}

.login-ig02{
  display: inline-block;
  background:sprite($base, icon_12);
  @include sprite-background-position($base,icon_12);
  @include  sprite-dimensions($base,icon_12);
}
.login-ig01:hover{
  @include sprite-background-position($base,log_hover);
}
.login-ig02:hover{
  @include sprite-background-position($base,bz-hover);
}

.dl-lay-item {
  float: left;
  padding-top: 12px;
  margin: 0px 14px;
  position: relative;
}
.dl-lay-item a{
  color: #a0a0a0;
  font-size: 12px;
  margin-left: 9px;
  cursor: pointer;
}
.dl-lay-item a:hover{
  color: #fff;
}
/*二维码*/
.qq01{
  display: inline-block;
  position: absolute;
  top: 34px;
  z-index: 9;
  right: -60px;
  background:sprite($erweima-img, small);
  @include sprite-background-position($erweima-img, small);
  @include  sprite-dimensions($erweima-img, small);}

.btn-weibo {
  margin: 4px  auto;
  width: 100px;
  }
.btn-weibo a{
  color: #fff;
  width: 98px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  background-color: $orcoolor;
  text-align: center;
  @include border-radius(4px, 4px);
}
.qq02{
  display: inline-block;
  z-index: 111;
  position: absolute;
  top: 34px;
  right: -130px;
  background:sprite($erweima-img, big-box);
  @include sprite-background-position($erweima-img, big-box);
  @include  sprite-dimensions($erweima-img,big-box);

}
.qq02 .weibo-img {
  padding: 15px 15px 0px;
  display: inline-block;
  text-align: center;
}
.qq03{
  position: absolute;
  top: 29px;
  right: -96px;
  z-index: 1003;
}
.btn-d{
  margin: 0px auto;
  width: 249px;
}

.qq02 .btn-d a{
  padding: 0px 6px;
}
.dl-lay-item .bz-bg-y1{
  display: inline-block;
  position: absolute;
  top: 9px;
  width: 6px;
  height: 6px;
  background: #ff9933;
  border-radius: 50%;
}


