/*导航*/
.warp-nav-b{
  height: 90px;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.in-nav{
  width: $con-width;
  margin: 0 auto;
}
$lte-ie:true !default;
.clearfix {
  @if $lte-ie {
    *zoom: 1;
  }
  &:before,
  &:after{
    content: "";
    display: table;
  }
  &:before,
  &:after{
    clear: both;
    overflow: hidden;
  }
}
.nav-item-title li a i.icon{
  font-size: 12px;
}
.nav-item-title li a:hover > .icon{
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
.logo-item-mn{ margin-top: 20px;}
.logo-nav-item { float: left;margin: 35px 0px 0px 220px; }
.nav-item-title{ float: left;}
.nav-item-title > li { float: left; z-index: 1000;position: relative;height: 50px}
.nav-item-title > li >a { padding:0 28px;font-size: 16px; color: #413c2b; text-decoration: none; cursor: pointer;   }
.nav-item-title > li >a:hover { color: #ffa200; }
.nav-item-title > li > a:hover > img {transform:rotate(90deg);
  -ms-transform:rotate(90deg); 	/* IE 9 */
  -moz-transform:rotate(90deg); 	/* Firefox */
  -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
  -o-transform:rotate(90deg);}
.user { float: left; height: 40px; display:inline-block; margin-left: 25px; margin-top: -6px;}
.user a { display: inline-block;  background: sprite($base,bg-y);
  @include sprite-background-position($base,bg-y);
  @include  sprite-dimensions($base,bg-y);text-align: center; line-height: 36px; color: #4c4c4c; font-size: 16px; text-decoration: none;  }
.user a:hover { @include sprite-background-position($base,bg-y-hover); color: #fff;}

/*二级导航*/
.nav-dropdown {  display:none;background: #FFF none repeat scroll 0% 0%; border-top: 2px solid #fcae26; margin-top: 25px; position: absolute; width: 100px; z-index:100;/*box-shadow:0px 0px 3px -1px #CCC*/ left:11px;}
.hover .active{display:block !important}
.nav-dropdown span {  display: block; width: 11px; height: 7px; position: absolute; top: -7px; left: 52px; }
.nav-dropdown-item { text-align: center; position: relative;border-bottom: 1px solid #e5e5e5;}
.nav-dropdown-item a { line-height: 30px; text-decoration: none; color: #6F6F6F; width: 100px; display: block; font-size: 14px; border-bottom: 1px solid #FFF; }
.nav-dropdown-item a:hover { color: #ffa200; border-bottom: 1px solid #FFF; }
.dline{height: 1px;width:0px;background-color: #fde6ba;position: absolute;top:30px;left:59px;}
.nav-item-title li:hover > ul {
  display: block;
}
.nav-item-title .orange{
  color: $orcoolor;
}