@charset "UTF-8";
@import "components/icons";
@import "utils/mixins";
/*main*/


.popup-con{
  width: 500px;
  margin: 0 auto;
  border: 2px solid #797978;
  border-radius: 2px;
  background: #fff;
  .popup-title{
    padding: 10px 24px;
    height: 30px;
    background: #f5f5f5;
     }
  .popup-title .title{
    float: left;
    font-size: 16px;
    color: #302f2b;
    line-height: 30px;
    font-weight: bold;
  }
  .popup-title span{
    display: inline-block;
    margin-top: 10px;
    float: right;
  }
  .popup-title .close{
    display: inline-block;
    background:sprite($pop-img,X);
    @include sprite-background-position($pop-img,  X);
    @include  sprite-dimensions($pop-img, X);
    cursor: pointer;
  }
  .pop-item{
    margin: 0 auto;
    padding: 0px 45px 40px;
    text-align: center;
  }
  .pop-item .input-box{
    padding-top:40px;
  }
  .pop-item .text-input{
    width: 293px;
    height: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding-left: 10px;
    color: #a0a0a0;
    outline: none;
  }


  .pop-item  .input-text{
    position: relative;
    padding-top: 20px;
  }
  .input-text .user-tab{
    text-align: left;
    padding: 0px  50px;
    color: #302f2b;
    font-size: 14px;
  }
  .input-text .user-tab span{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    margin-right: 4px;
    vertical-align: middle;
  }
  .input-text .user-tab  .bew-two{
    padding-right: 24px;
    display: inline-block;
  }
  .input-text .user-tab .active{
    background: $orcoolor;
  }
  .input-text .Lic-text{
    margin-top: 15px;
    color: #302f2b;
    font-size: 14px;
  }

  .input-text .user-tab .re-img{
    display: inline-block;
    width: 158px;
    height: 90px;
    border: 1px solid #e5e5e5;
    border-radius: 0px;
    float: left;
    text-align: center;
    padding-top: 20px;
    img{
      text-align: center;
    }
   }
  .input-text .user-tab u{
    float: left;
    margin-top: 70px;
    text-decoration: none;
    cursor: pointer;
   }
  .input-text .Lic-text i{
    color: #a0a0a0;
    font-size: 14px;
  }
  .input-text .Lic-text u{
    color: #ffa200;
    border: 1px solid orange;
    display: inline-block;
    width: 87px;
    height: 24px;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 14px;
  }
  .input-text .Lic-text a{
    color: #302f2b;
    font-size: 14px;
  }


  .pop-item .short .cl-btn{
    color: #fff;
    width: 208px;
    height: 44px;
    background: #fcae26;

  }
  .pop-item .short-item a{
    width: 140px;
    height: 40px;

    margin: 0px 5px;
    cursor: pointer;
  }
  .pop-item .short-item .yellow1{
    background: #fcae26;
  }
  .pop-item .short-item .gray{
    background: #e3e3e3;
    color: #302f2b;

  }
  .pop-item .short-item .white-wid{
    background: #fff;
    color: #302f2b;
    border: 1px solid #e5e5e5;
  }
  .input-text .get-y{
    width: 120px;
    height: 40px;
    display: inline-block;
    background: #eeeeee;
    position: absolute;
    top: 21px;
    right: 54px;
    line-height: 40px;
    color: #5e5e5e;
    border-left: 1px solid #e5e5e5;
    cursor: pointer;
  }
  .input-box .prompt{
    font-size: 14px;
    color: #a0a0a0;
    text-align: left;
    margin: 5px 0px 0px 45px;
  }
  .input-box .pd-left-text{
    padding-left: 9px;
  }

  .input-box .prompt .prom-icon{
    display: inline-block;
    background:sprite($pop-img,alert-2);
    @include sprite-background-position($pop-img, alert-2);
    @include  sprite-dimensions($pop-img, alert-2);
    cursor: pointer;
  }

  .input-box .prompt i{
    color: $orcoolor;
    cursor: pointer;
  }
  .input-text a{
    width: 299px;
    height: 40px;
    @extend  %pop-btn;
  }
  .input-text  .p-user{
    width: 300px;
    height: 40px;
    border: 1px solid #e5e5e5;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    color: #302f2b;
    font-size: 16px;
    cursor: pointer;
      }
  .input-text  .p-user:hover{
    border: 1px solid $orcoolor;
    color: $orcoolor;
  }
  .input-text .g-user{
    border: 1px solid $orcoolor;
    color: $orcoolor;
  }
  .input-text .sel-user-text{
    text-align: left;
    font-size: 16px;
    color: #302f2b;
    margin-left: 54px;
  }
  .input-box .prom-item{
    text-align: left;
    width: 290px;
    background: #fff6e5;
    color: #a0a0a0;
    font-size: 13px;
    padding: 4px;
    margin: 20px 0 0 51px;
    border-radius: 2px;
  }

  .input-box .prom-item span{
    color: $orcoolor;
  }
}


/*end----main*/
/*交易密码*/
.popup-con{
    .pop-item{
  .propm-top{
    @extend %prom;
    width: 400px;
    margin-top: 4px;
    border-radius: 2px;
  }
  .propm-top .prom-icon {
    display: inline-block;
    background:sprite($pop-img,alert-2);
    @include sprite-background-position($pop-img, alert-2);
    @include  sprite-dimensions($pop-img, alert-2);
    cursor: pointer;
  }
   .propm-top  i{
     margin-left: 6px;
      }
  .grade-i {
    padding: 20px 0 10px;
  }
  .grade-i .grade-i-item{
    display: inline-block;
    background:sprite($pop-img,ruo);
    @include sprite-background-position($pop-img, ruo);
    @include  sprite-dimensions($pop-img, ruo);
    cursor: pointer;
  }
  .pd-top1{
    padding-top: 10px;
  }
   .input-text  .red-border{
     border: 1px solid red;
   }
    .input-text  .red-color{
        color: red;
      padding-left: 10px;
      }
      .input-text .pass-text{
        display: inline-block;
        color: #5e5e5e;
        text-align: right;
        margin-left: 100px;
        cursor: pointer;
      }

}
}

/*修改绑定手机*/
.popup-con .input-box .pd-left10{
padding-left: 8px;

}
.popup-con .input-box .bind-phone{
  text-align: left;
  display: inherit;
   margin-left: 53px;
}
.popup-con .input-box .bind-phone i{
  color: #ffa200;
  padding-left: 35px;
}

.input-box .bg-color01{
  background: #fff6e5;
  padding: 4px;
  width: 315px;
  border-radius: 2px;
}
/*修改密码成功*/
.input-box .password-c {
  .se-img{
  display: inline-block;
  background:sprite($pop-img,sec_1);
  @include sprite-background-position($pop-img, sec_1);
  @include  sprite-dimensions($pop-img, sec_1);
  }
  .chz-s-img{
    display: inline-block;
    background:sprite($pop-img,c-s-1);
    @include sprite-background-position($pop-img, c-s-1);
    @include  sprite-dimensions($pop-img, c-s-1);
  }
  p{
    color: #363636;
    font-size: 20px;
    margin: 20px 0 40px;
   /* font-weight: bold;*/
  }
}

/*充值*/
.ch-box{
  margin: 0px 126px 10px;
  text-align: left;
  color: #302f2b;

  td{
line-height: 30px;
  }
  td.text-c{
    text-align: right;
    i{
      color: $orcoolor;
    }
  }
}

/*签到*/
.width-big{
  width: 800px;
}
.top-pro{
   background: #fcae26;
   height: 104px;
  margin: 0 auto;
  text-align: center;
  .sm-round{
    position: absolute;
    left: -1px;
    border: 1px solid rgb(255, 255, 255);
    width: 34px;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    border-radius: 50px;

    i{
      font-size: 22px;
    }
  }
.long-r{
  position: relative;
  display: inline-block;
  width: 470px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-top: 35px;
}
}

/*签到样式*/
.rili{
  margin: 0px auto;
  width: 560px;
}
.clndr-controls {
  position: relative;
  width:248px;
  margin: 0 auto;
  color: #5e5e5e;
  font-size: 14px;
  text-transform: capitalize;
  padding: 23px;
  text-align: center;
  margin-left: 118px;
}
.clndr-controls{
  div{
    float: left;
  }
  p{
    width: 24px;
    height: 24px;
    color: #5e5e5e;
    cursor: pointer;
    margin: 0px 31px;
  }
  .clndr-previous-button{
    background: url("../images/rili-left.png") no-repeat center;

  }
  .clndr-previous-button:hover{
    background-color: #e5e5e5;
    border-radius: 2px;
  }
  .clndr-next-button{
    background: url("../images/rili-right.png") no-repeat center;
  }
  .clndr-next-button:hover{
    background-color: #e5e5e5;
    border-radius: 2px;
  }
}
.clndr-table{
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 30px;
  td{
    position: relative;
    color: #5e5e5e;
    text-align: center;
    width: 48px;
    .day-contents ,.today-day{

      .qiandao-doing{
        background: url("../images/qd-doing.png") no-repeat;
        display: inline-block;
        width: 24px;
        height: 16px;
        position: absolute;
        top: 20px;
        right: 24px;
      }
    }
  .today-day{
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #59c3fd;
    border-radius: 40px;
    line-height: 30px;
    color: #fff;
  }
    .adjacent-month{
      color: #cccccc;
    }
  }
  thead {
   /* background: url("../images/round-img-grey.png") no-repeat;
    width: 650px;
    height: 34px;
    display: inline-block;*/
  }
}
.gird{
  background: #e3e3e3;
  border-radius: 20px;
  & h3{
    float: left;
    font-size: 16px;
    color: #5e5e5e;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 40px;
    line-height: 40px;
  }
}