@font-face {
  font-family:'Myriad Set Pro';
  font-style:normal;
  font-weight:100;
  src:local('??'), url("../stylesheets/fontfamily/myriad-set-pro_semibold.woff") format("woff");
}
@font-face {
  font-family:'Myriad Set Pro';
  font-style:normal;
  font-weight:100;
  src:local('??'), url("../stylesheets/fontfamily/myriad-set-pro_text.woff") format("woff");
}
@font-face {
  font-family:'Myriad Set Pro';
  font-style:normal;
  font-weight:100;
  src:local('??'), url("../stylesheets/fontfamily/myriad-set-pro_thin.woff") format("woff");
}
