.categorys {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    z-index: 10
}

.categorys .cate-wrap {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 6;
    height: 440px;
    width: 210px;
    background: #fff
}

.categorys .cate-details {
    height: 580px;
    overflow: hidden
}

.categorys .cate-mt {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #f6f6f6;
    position: relative;
    padding: 16px 0;
    margin: 0 20px
}

.categorys .cate-mt .angle {
    display: none;
    position: absolute;
    top: 93px
}

.categorys .cate-mt .angle-top {
    height: 2px;
    width: 60px;
    left: 149px;
    background-position: -238px -274px
}

.categorys .cate-mt .angle-right {
    width: 2px;
    height: 60px;
    left: 208px;
    background-position: -296px -274px
}

.categorys .cate-mt .arrow {
    width: 6px;
    height: 10px;
    background-position: -241px -60px;
    margin-top: 4px;
    margin-right: 20px;
    display: none;
    float: right
}

.categorys .cate-mt .title {
    color: #323232;
    font-size: 16px;
    line-height: 18px;
    height: 18px;
    padding-bottom: 6px;
    width: 170px;
    overflow: hidden
}

.categorys .cate-mt .title .text {
    float: left;
    width: 130px
}

.categorys .cate-mt .title a.text {
    color: #323232
}

.categorys .cate-mt .title span.num{
    color: white;
    display: inline-block;
    margin-left: 10px;
    width: 18px;
    background-color: #fcae26;
    border-radius: 9px;
    text-align: center;
    font-size: 14px;
}

.categorys .cate-mt .title a.text:hover {
    color: #ff5256
}

.categorys .cate-mt a.cate-sur{
    width: 172px;
    height: 26px;
    color: #fff;
    background-color: #fcae26;
    display: inline-block;
    margin-top: 10px;
    border-radius: 4px;
    line-height: 25px;
}

.categorys .cate-mt .extra a {
    color: #a5a5a5;
    font-size: 14px;
    line-height: 20px;
    margin-right: 4px
}

.categorys .cate-mt .extra a:hover {
    color: #ff5256
}

.categorys .cate-mt .extra, .categorys .cate-mt .title, .categorys .cate-mt .title .text {
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out
}

.categorys .cate-mc {
    position: absolute;
    top: 0;
    left: 0;
    width: 490px;
    border-left: 1px solid #e6e6e6;
    height: 420px;
    padding: 20px 0 0 10px;
    display: none
}

.categorys .cate-mc .title {
    height: 37px;
    line-height: 37px;
    border-bottom: 1px solid #323232;
    margin: 0 30px;
    position: relative
}

.categorys .cate-mc .title .text {
    font-size: 18px;
    color: #323232;
    padding-right: 10px
}

.categorys .cate-mc .title .extra {
    color: #a5a5a5;
    font-size: 14px
}

.categorys .cate-mc .title .more {
    font-size: 14px;
    color: #60a3ff;
    position: absolute;
    top: 0;
    right: 0
}

.categorys .cate-mc .title .more i {
    display: inline-block;
    width: 6px;
    height: 10px;
    margin-left: 5px;
    background-position: -257px -60px;
    vertical-align: middle
}

.categorys .cate-mc .title .more:hover {
    color: #ff5256
}

.categorys .cate-mc .title .more:hover i {
    background-position: -241px -60px
}

.categorys .cate-mc .goods-list {
    margin: 0 28px;
    height: 72px;
    overflow: hidden;
    position: absolute;
    left: 10px;
    top: 58px;
    z-index: 1;
    padding-top: 5px
}

.categorys .cate-mc .goods-list a {
    color: #5e5e5e;
    font-size: 14px;
    border-left: 1px solid #e6e6e6;
    padding: 0 10px 0 11px;
    margin-top: 17px;
    float: left;
    height: 14px;
    line-height: 14px;
    margin-left: -1px;
    white-space: nowrap
}

.categorys .cate-mc .goods-list a:hover {
    color: #ff5256
}

.categorys .cate-mc .goods-list i {
    color: #e6e6e6;
    font-style: normal
}

.categorys .cate-mc .goods-promotion {
    width: 510px;
    height: 310px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 10px
}

.categorys .cate-mc .goods-extra {
    display: none;
    padding-left: 36px;
    padding-top: 15px;
    border-top: 1px solid #f6f6f6;
    height: 94px;
    width: 444px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 10px;
    background-color: #fff
}

.categorys .cate-mc .goods-extra .content {
    width: 250px;
    height: 76px
}

.categorys .cate-title-list .current .angle, .categorys .cate-title-list .current .arrow {
    display: block
}

.categorys .cate-title-list .current .cate-mt {
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #fff;
    padding: 17px 20px 16px;
    margin: -1px 0 0;
    z-index: 7
}

.categorys .cate-title-list .current .cate-mt .extra, .categorys .cate-title-list .current .cate-mt .title {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px)
}

.categorys .cate-title-list .current .cate-mt .title .text {
    color: #ff5256
}

.categorys .cate-title-list .current .cate-mc {
    display: block
}



.categorys .cate-title-list .fore6 {
    text-align: center;
    color: #5e5e5e;
    font-size: 14px;
    font-family: arial "microsoft yahei"
}

.categorys .cate-title-list .fore6 .cate-mt {
    padding: 0;
    border-bottom: 0;
    height: 48px
}

.categorys .cate-title-list .fore6 .img {
    width: 170px;
    height: 48px;
    margin: 0 auto
}

.categorys .cate-title-list .fore6.current .cate-mt {
    padding-top: 1px;
    border-right: 0
}

.categorys .cate-content-list {
    background: #fff;
    position: absolute;
    top: 0;
    left: 209px;
    width: 501px;
    height: 440px;
    display: none
}

.categorys .cate-content-list .fore6 {
    padding-top: 0;
    height: 580px
}

.categorys .cate-content-list .fore6 .goods-promotion {
    padding-top: 0;
    width: 510px;
    height: 580px
}

.categorys .cate-act-list {
    display: none;
    position: absolute;
    width: 210px;
    left: 0;
    top: 0
}

.categorys .cate-act-list .cate-a-mt {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #f6f6f6;
    position: relative;
    padding: 16px 0;
    height: 44px;
    margin: 0 20px
}

.categorys .cate-act-list .cate-a-mt .title .title-wrap {
    overflow: hidden
}

.categorys .cate-act-list .cate-a-mt .title .number {
    float: left;
    height: 18px;
    background-color: #323232;
    padding: 0 8px;
    color: #fff
}

.categorys .cate-act-list .cate-a-mt .title .number em {
    float: left;
    height: 18px;
    width: 19px;
    font-style: normal;
    text-indent: -2000px;
    margin-right: 3px
}

.categorys .cate-act-list .cate-a-mt .title .number b {
    float: left;
    font-weight: 400;
    font-family: Arial;
    line-height: 20px
}

.categorys .cate-act-list .cate-a-mt .title .type {
    float: left;
    height: 18px;
    background-color: #ff5256;
    padding: 0 8px;
    color: #fff
}

.categorys .cate-act-list .cate-a-mt .content {
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out
}

.categorys .cate-act-list .cate-a-mt .content .content-link {
    color: #5e5e5e;
    line-height: 18px;
    height: 18px;
    overflow: hidden
}

.categorys .cate-act-list .cate-a-mt:hover .content, .categorys .cate-act-list .cate-a-mt:hover .title {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px)
}


.categorys .prime-financial-list {
    width: 480px;
    height: 229px;
    border-top: 1px solid #f6f6f6;
    margin-top: 50px
}

.categorys .prime-financial-list li {
    float: left;
    padding-left: 40px
}

.categorys .prime-financial-list .name {
    padding: 30px 0 20px
}

.categorys .prime-financial-list .number {
    height: 53px
}

.categorys .prime-financial-list .text {
    padding-bottom: 19px
}

.prime-slide {
    position: relative
}

.prime-slide .ps-wrap {
    position: relative;
    height: 460px
}

.prime-slide .ps-item {
    position: absolute;
    width: 100%;
    height: 460px
}

.prime-slide .item-puzzle {
    position: relative;
    z-index: 5;
    width: 1200px;
    height: 460px;
    margin: 0 auto
}

.prime-slide .item-puzzle .puzzle-item {
    position: absolute;
    overflow: hidden
}

.prime-slide .item-puzzle .puzzle-item .puzzle-item-block {
    display: block;
    width: 100%;
    height: 100%
}

.prime-slide .item-puzzle .item-1 {
    left: 220px;
    top: 10px;
    width: 700px;
    height: 440px
}

.prime-slide .item-puzzle .item-2 {
    left: 930px;
    top: 10px;
    width: 270px;
    height: 293px
}

.prime-slide .item-puzzle .item-3 {
    left: 930px;
    top: 312px;
    width: 270px;
    height: 137px
}

.prime-slide .item-puzzle .item-4 {
    left: 930px;
    top: 453px;
    width: 270px;
    height: 137px
}

.prime-slide .item-puzzle .item-1 .puzzle-item-block {
    margin-left: -700px
}

.prime-slide .item-puzzle .item-2 .puzzle-item-block, .prime-slide .item-puzzle .item-3 .puzzle-item-block, .prime-slide .item-puzzle .item-4 .puzzle-item-block {
    margin-left: -270px
}

.prime-slide .ps-bg-item {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 460px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center
}

.prime-slide .ps-bg-item.init {
    opacity: 1;
    z-index: 2
}

.prime-slide .ps-item.init .item-1 .puzzle-item-block, .prime-slide .ps-item.init .item-2 .puzzle-item-block, .prime-slide .ps-item.init .item-3 .puzzle-item-block, .prime-slide .ps-item.init .item-4 .puzzle-item-block {
    margin-left: 0
}

.prime-slide .ps-trigger {
    z-index: 8;
    position: absolute;
    text-align: center;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    bottom: 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease
}

.prime-slide .ps-trigger .ps-trigger-wrap {
    display: inline-block;
    font-size: 0
}

.prime-slide .ps-trigger .ps-trigger-wrap .trigger-item {
    cursor: pointer;
    display: inline-block;
    padding: 5px 3px;
    margin: 0 1px;
}

.prime-slide .ps-trigger .ps-trigger-wrap .trigger-item em {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease
}

.prime-slide .ps-trigger .ps-trigger-wrap .trigger-item.current em {
    border-color: #ff5256
}

.prime-slide .ps-trigger:hover {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4)
}





.notice{
    width: inherit;
    height: inherit;
    background-color: #fff;
}

.notice .notice-title{
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
}

.notice .notice-title1{
    font-size:17px;
    color: #302f2b;
}
.notice .notice-title2{
    font-size: 16px;
    color: #999;
    text-align: right;
}

.notice .notice-item1{
    padding: 14px;
}

.notice .notice-item2{
    padding: 30px 0;
}

.notice .notice-title1,.notice .notice-title2{
    float: left;
    width: 50%;
    line-height: 40px;
}

.notice .notice-item1,.notice .notice-item2{
    float: left;
    font-size: 15px;
}

.btn-register{
    color: #fff;
    position: absolute;
    top: 210px;
    left: 35px;
    border-radius: 5px;
    background-color: #fcae26;
    width: 200px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    text-align: center;
}

.btn-register-item{
    position: absolute;
    font-size: 14px;
    top: 260px;
    width: 270px;
    text-align: center;
}

.btn-register-item1{
    color: #8c8d8f;
}
.btn-register-item2 a{
    color: #ffffff;
    text-decoration: underline;
}
.nhlv{
    width: inherit;
    height: inherit;
    background-image: url(../images/right-top.png);
}

.right-item{
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 6;
    height: 440px;
    width: 270px;
}

.right-item1,.right-item2{
    position: absolute;
    overflow: hidden;
}
.right-item1{
    width: 270px;
    height: 293px;
}

.right-item2{
    top: 303px;
    width: 270px;
    height: 137px;
}


.progress {
    height: 9px;
    margin-bottom: 20px;
    border-radius: 4px;
    margin-top: 19px;
    overflow: hidden;
    background-color: #F7F7F7;
    background-image: linear-gradient(to bottom, #F5F5F5, #F9F9F9);
    background-repeat: repeat-x;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
    width: 200px;
    float: left;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.progress-striped .bar {
    background-size: 40px 40px;
    background-color: #f5a825;
    border-radius: 2px;
}
.pro-m-textpro {
    display: inline-block;
    margin-left: 25px;
    color: #999;
    line-height: 26px;
}

.processingbar {
    text-align: center;
    margin: 3px 28px 0 0;
    position: absolute;
    width: 150px;
}
.processingbar span {
    color: #ff9933;
    background-color: #eee;
    display: block;
    width: 34px;
    height: 17px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 150px;
    top: 65px;
    margin: 0px 0 0 0px;
}

.processingbar li {
    height: 34px;
    width: 100%;
    line-height: 37px;
}
.processingbar .item1 ,.processingbar .item2{
    color: #fcae26;
}
.processingbar .item1{
    font-size: 14px;
}
.processingbar .item2{
    font-size: 36px;
}
.processingbar .item3{
    font-size: 14px;
}
a:hover, a:link, a:visited {
    text-decoration: none
}