%top-style{
  color: $ft-color;
  font-size: 12px;
}

/*pop-style*/
%prom{
  text-align: left;
   background: #fff6e5;
  color: #a0a0a0;
  font-size: 13px;
  padding: 4px;
}
/*btn*/
%pop-btn{
  background: $orcoolor;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
%title-1{
  float: left;
  display: inline-block;

  font-size: 14px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 2px;
  margin: 2px 5px 0px 0px;
  padding: 2px;
}
%title-2{
  float: left;
  color: #302f2b;
  font-size: 18px;
  cursor: pointer;
}
%title-3{
  display: inline-block;
  background: url("../images/bq-icon.png") no-repeat;
  width: 54px;
  height: 18px;
  color: #ff9933;
  text-align: center;
  font-size: 12px;
  margin-right: 4px;
}