//base-color
/*orange-color*/
$yellowcoolor:#fcae26;
$orcoolor:#ff9933;

//black
$deepcolor:#413c2b;
$middlecolor:#5e5e5e;
$light:#e3e3e3;
$line-color:#aaa699;
$top-dcolor:#302f2b;
//pro-color

$bluecolor:#30b4fc;
$greencolor:#44d7c4;
$redcolor:#ff5158;


/*字体颜色*/
$ft-color:#a0a0a0;

/*layout*/
$con-width:1200px;









